html, body{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head{
    padding: 0px 150px;
}
.content{
    padding: 0px 200px;

}
h2{
    color: #27519e;
    font-size: 25px;
}
h3{
    color: rgb(29, 138, 182);
    font-size: 20px;
}
.img{
    text-align: center;
}
.img img{
    width: 90%;
}
p{
    font-size: 16px;
}
.red{
    color: red;
    font-weight: bold;
}
hr{
    height: 0.1px;
    background-color: rgb(189, 189, 189);
}
@media screen and (max-width:1200px) {
    .head{
        padding: 0px 100px;
    }
    .content{
        padding: 0px 150px;
    
    }
}
@media screen and (max-width:1000px) {
    .head{
        padding: 0px 90px;
    }
    .content{
        padding: 0px 130px;
    }
}
@media screen and (max-width:850px) {
    .head{
        padding: 0px 70px;
    }
    .content{
        padding: 0px 100px;
    }
}
@media screen and (max-width:600px) {
    .head{
        padding: 0px 40px;
    }
    .content{
        padding: 0px 60px;
    }
}
@media screen and (max-width:500px) {
    .head{
        padding: 0px 20px;
    }
    .content{
        padding: 0px 30px;
    }
}
.goiKhac{
    height: 100px;
    background-color:rgba(221, 245, 255, 1);
}
