* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row{
    display: flex;
}
.avatar{
    width: 10%;
    text-align: right;
}
.avatar img {
    width: 50%;
}
.name{
    font-weight: bold;
    padding-top: 20px;
}
.info {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.info form {
    width: 50%;
    margin-left: 40px;

}

.title {
    font-weight: bold;
    color:#0395b5
}
.form__row {
    display: flex;
    justify-content: space-between;
}
hr.vertical {
    height: 100px;
}