* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row{
    display: flex;
    width: 50%;
    height: 60px;
}
.row .avatar{
    width: 20%;
    text-align: right;
    min-width: 63px;
}
.row .avatar img {
    width: 100%;
    max-width: 80px;
    min-width: 70px;
}
.row .name{
    font-weight: bold;
    font-size: 20px;
    height: 100%;
    margin-top: 15px;
}
.row .editProfile{
    width: 20%;
    text-align: right;
}
.row .editProfile img {
    width: 30%;
    min-width: 30px;
}
.row .info {
    height: 100%;
    margin-top: 5px;
    margin-left: 5px;
}
.row .info a{
    text-decoration: none;
    color: #0395b5;
    font-weight: bold;
}
.form {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.thongTin {
    margin-bottom: 20px;
    color: #0395b5;
    font-size: 20px;
}
.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
