body{
    margin: 0;
    padding: 0;
}
.container_tinTuc{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 30px;
}
.tinLon{
    width: 50vw;
}
.tinNho{
    width: 25vw;
}
.tinNho2{
    width: 25vw;
}
.tinNho img{
    width: 80%;
}
.tinNho2 img{
    width: 80%;
}
.tinLon img{
    width: 80%;
}
.tinLon h3,p,h4{
    width: 80%;
    margin-left: 10px;
}
p{
    color: rgb(135, 130, 130);
    font-style: italic;  
}
h4{
    margin-top: 5px;
}
.tinNho p{
    margin-top: -10px;
}
.tinNho2 p{
    margin-top: -10px;
}
hr{
    width: 48%;
    margin-left: 50px;
    margin-top: -15px;
}