 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  }

.mainContent {
    width: 80%;
    /* min-width: 800px; */
    margin-left: auto;
    margin-right: auto;
}
.textCenter {
    width: 100%;
    text-align: center;
}
.textCenter h3 {
    color: #0389bc;
    margin-bottom: 20px;
    font-size: 30px;
}
.textCenter h4 {
    font-size: 25px;
}
.giamDoc {
    width: 100%;
    text-align: center;
    display: flex;
}
.giamDoc .left {
    width: 50%;
}
.giamDoc .left img {
    width: 50%;
    min-width: 200px;
}
.giamDoc .right {
    width: 50%;
}
.giamDoc .right img {
    width: 50%;
    min-width: 200px;
}
.name {
    color: #0389bc
}
p.chucVu {
    width: 80%;
    margin: auto;
}
.soDoToChuc {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
.soDoToChuc img {
    width: 75%;
}
