/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .container{
    overflow: hidden;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    height: 400px;
    margin-top: 150px;
    border: 1px black solid;
  }
  .container .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #9a9a9a87;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
  }
  .slide-controls label.verify{
    color: #28aadc;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
  }
  input[type="radio"]{
    display: none;
  }
  #verify:checked ~ .slider-tab{
    left: 50%;
  }
  #verify:checked ~ label.verify{
    color: #9a9a9a87;
    cursor: default;
    user-select: none;
  }
    #signup:checked ~ label.signup{
    color: #9a9a9a87;
    cursor: default;
    user-select: none;
  }
  #verify:checked ~ label.password{
    color: #28aadc;
  }
  #password:checked ~ label.verify{
    color: #28aadc;
  }
  #password:checked ~ label.password{
    cursor: default;
    user-select: none;
  }
  .container .form-inner {
    overflow: hidden;
    display: flex;
    width: 100%;
  }
  .form-inner form{
    width: 50%;
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .field{
    text-align: center;
    margin: 20px;
  }
  .OTP{
    display: inline;
    margin-left: 90px; 
    text-align: center;
    width: 100%;
    min-width: 590px;
  }
  .OTP input{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 10px;
    font-size: 30px;
    display: inline;
  }
  .tabContent {
    display: none;
  }
  .tabContent.active {
    display: block;
  } */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }
  html,body {
    height: 100vh;
    width: 100vw;
    /* justify-content: center; */
  }
  .container{
    overflow: hidden;
    width: 80%;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    height: 80%;
    margin: 50px auto;
  }
  .container .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #9a9a9a87;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
  }
  .slide-controls label.verify{
    color: #28aadc;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
  }
  input[type="radio"]{
    display: none;
  }
  #verify:checked ~ .slider-tab{
    left: 50%;
  }
  #verify:checked ~ label.verify{
    cursor: default;
    user-select: none;
    color: #28aadc;
  }
  #verify:checked ~ label.password{
    color: #9a9a9a87;

  }
  #password:checked ~ label.password{
    color: #28aadc;
    cursor: default;
    user-select: none;
  }
  #password:checked ~ label.verify{
    color: #9a9a9a87;

  }
  .container .form-inner {
    display: flex;
    width: 200%;
  }
  .container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    margin-top: auto;
    margin-bottom: auto;
    height: 80%;
  }
  form.verify {
    /* margin-left: -50%; */
  }
  form.resetPw {
  }
  form.verify .field{
    height: 50px;
    width: 80%;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: #28aadc;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (max-width:768px) {
    form.verify .field{
      font-size: 18px;
    }
  }
  form.verify .OTP {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    overflow: hidden;
  }
  form.verify .OTP input {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 10px;
    font-size: 30px;
    display: inline; 
  }
  form.verify .OTP input::-webkit-outer-spin-button,
  form.verify .OTP input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @media screen and (max-width:768px){
    form.verify .OTP input {
      width: 40px;
      height: 40px;
      font-size: 25px;
    }
  }
  form.verify .continue {
    text-align: center;
    margin-top: 20px;
  }
  form.verify .continue button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    overflow: hidden;
    font-size: 18px;
    cursor: pointer;
    background-color: #28aadc;
    background-image: linear-gradient(62deg, #28aadc 0%, #66caf2 100%);
    color: #fff;
    border: 1px salmon solid;
  }
  form.verify a {
    text-decoration: none;
    color: #000;
  }
  form.verify a:hover {
    text-decoration: underline;
    color: #000;
  }
  
  form.resetPw .thongBao{
    text-align: center;
    font-size: 20px;
    color: #66caf2;
    width: 70%;
    margin: auto;
  }
  form.resetPw .form__row {
    text-align: center;
    margin-top: 30px;
  }
  form.resetPw input {
    width: 80%;
    height: 40px;
    margin:auto;
    font-size: 15px;
  }
  form.resetPw button {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    overflow: hidden;
    font-size: 18px;
    cursor: pointer;
    background-color: #28aadc;
    background-image: linear-gradient(62deg, #28aadc 0%, #66caf2 100%);
    color: #fff;
    border: 1px salmon solid;
  }
  /* .form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  } */

  .tabContent {
    display: none;
  }
  .tabContent.active {
    display: block;
  }