@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  html,body{
    padding: 0;
    margin: 0;
  }
  .container{
    overflow: hidden;
    max-width: 1090px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    height: 600px;
    margin-top: 120px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
 
  }
  .container .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.verify{
    color: #28aadc;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 33%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    /* background-color: #28aadc;
    background-image: linear-gradient(62deg, #28aadc 0%, #66caf2 100%);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55); */
  }
  input[type="radio"]{
    display: none;
  }
  #verify:checked ~ .slider-tab{
    left: 50%;
  }
  #verify:checked ~ label.verify{
    cursor: default;
    user-select: none;
  }
  #verify:checked ~ label.login{
    color: #000;
  }
  #login:checked ~ label.signup{
    color: #000;
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }
  .field{
    text-align: center;
    margin: 20px;
  }
  .OTP{
    display: flex;
    text-align: center;
    width: 100%;
    min-width: 590px;
    justify-content: center;

  }
  .OTP input{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 10px;
    font-size: 30px;
    display: inline;
  }
  .continue{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    }
    .container{
        width: 100%;
    }
    .container .form-inner{
        display: flex;
        width: 200%;
    }
    .container .form-inner form{
        width: 50%;
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    }
  .container button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    overflow: hidden;
    font-size: 18px;
    cursor: pointer;
    background-color: #28aadc;
    background-image: linear-gradient(62deg, #28aadc 0%, #66caf2 100%);
    color: #fff;
    border: 1px salmon solid;
    }
    .field a{
    text-decoration: none;
    color: #28aadc;
    }
    .field a:hover{
    text-decoration: underline;
    }
    .tabContent{
        display: none;
    }
   .tabContent.active {
        display: block;}
   
   .page{
    width: 100%;
   }
   .information{
    display: flex;
    flex-direction: row;
    width: 70%;
   }
   .hoSo{
    width: 50%;
   }
   .boSung{
    width: 50%;
   }
   .form__row{
    padding: auto;
    margin: 5px;
    text-align: center;
   }
   .form__row input, select{
    width: 300px;
    height: 30px;
   }
   span.redStar{
    color: red;
   }
   .thongBao{text-align: center;
    margin-top: -200px;}
    .form__row input {
        width: 60%;
        height: 40px;
        font-size: 20px;
        margin-bottom: 30px; 
        margin-top: 30px;
       }
