:root{
	--primary: #1691e2;
	--secondary: #E5F7FF;
	--thirty: #b9e9fc;
	--white: #fff;
	--next-btn-hover: #05219e;
	--back-btn-hover: #bcc2c2;
}
body{  
    height: 100%;
    padding: 10px;

}
* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;

}
.input{
  text-align: center;
}
#myInput {
  width: 60%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 2px solid var(--next-btn-hover);
  border-radius: 10px;
  margin: 20px auto;
}

#myUL {
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#myUL li a {
  border: 2px solid var(--primary);
  border-radius: 8px;
  margin: 20px;
  margin-top: -1px;
  background-color: var(--white);
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}
#myUL li a:hover{
  background-color: var(--secondary);
}
li {
  width: 380px;
}
.imgSearch{
  width: 100%;
}
