:root{
	--primary: #1691e2;
	--secondary: #E5F7FF;
	--thirty: #b9e9fc;
	--white: #fff;
	--next-btn-hover: #05219e;
	--back-btn-hover: #bcc2c2;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}
body{
	background: linear-gradient(-180deg, var(--white) , var(--primary) );
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
#regForm {
    background-color: #ffffff;
    margin: 25px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}
.bookingStep{
    text-align:center;
    margin-bottom: 25px;
} 
  /* Đánh dấu các ô nhập bị lỗi khi xác thực:  */
input.invalid {
    background-color: #fab5b5;
}
  
  /* Ẩn tất cả các bước theo mặc định: */
.tab {
    display: none;
	margin-bottom: 30px;
}
  

  
  /* Tạo các vòng tròn biểu thị các bước của biểu mẫu: */
.step {
    height: 45px;
    width: 45px;
    margin: 0 15px;
    padding-top: 10px;
    color: var(--white);
    background-color: #bbbbbb;
    font-weight: bold;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
  
.step.active {
    opacity: 1;
    background-color: var(--primary);
}
  
/* Đánh dấu các bước đã hoàn thành và hợp lệ */
.step.finish {
    background-color: var(--primary);
}

/* --------Note------------------------------------------------------------------------------------ */
.bookingNote{
	width: 100%;
	max-width: 700px;
	margin: 20px auto 0;
}
.bookingNote h1{
	color: var(--primary);
	text-align: center;
}
.bookingNoteBold{
	color: var(--primary);
	font-style: italic;
	font-weight: bold;
}
/* -------------------Form------------------------------------------------------------------------------------- */
.bookingTtyph{
	width: 100%;
	max-width: 700px;
	background: var(--white);
	margin: 20px auto 0;
	border-radius: 25px;
	box-shadow: 5px 5px 10px var(--primary);
	padding: 25px 30px;
}
h2{
	text-align: center;
	margin-bottom: 25px;
}
/* ------------input---------------------------------------------------------------------------------- */ 
.bookingType{
	display: flex;
    justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 30px;
 } 
.bookingInput{
	margin-right: 15px;
    border: 2px solid var(--thirty);
	border-radius: 7px;
	padding: 10px;
	display: block;
	width: 100%;	
	font-size: 16px;
	transition: 0.5s ease;
}     
#selectKhamThuong {
	width: 100%;
}       
#selectKhamDichVu {
	width: 100%;
}

.category{
	display: flex;
	width: 80%;
	margin: 15px 0 ;
	justify-content: space-between;
}
.category label{
	display: flex;
	cursor: pointer;
}
.dot{
   height: 18px;
   width: 18px;
   border-radius: 50%;
   margin-right: 10px;
   background: #d9d9d9;
   border: 5px solid transparent;
   transition: all 0.3s ease;
}
#dot1:checked ~ .category label .one,
#dot2:checked ~ .category label .two{
	background: var(--primary);
	border-color: var(--secondary);
}
 input[type="radio"]{
	display: none;
  }
/* -----------------------------button----------------------------------------------------------------- */
.buttonBooking{
	overflow:auto;
}
.buttonBooking button {
    background-color: var(--next-btn-hover);
    color: #ffffff;
    border: none;
	width: 110px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
	margin: 0px 30px;
}
.buttonBooking button:hover {
    opacity: 0.8;
}
  #prevBtn {
    background-color: #bbbbbb;
}
#nextBtn{
	float: right;
}
/* -----------------payment-------------------------------------------------------------- */
.bankImg{
	margin: 5px 8px;
	width: 180px;
	height: 100px;
}
.walletImg{
	width: 180px;
	height: 60px;
	margin: 5px 8px;
}
.listPayment{
	display: none;
	background-color: var(--secondary);
}
.buttonPayment{
	font-size: 16px;
	background-color: var(--white);
    color: var(--primary);
	padding: 18px;
	width: 100%;
	border: 2px solid var(--thirty);
	border-radius: 10px;
	text-align: left;
	outline: none;
	margin-top: 15px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  }
   .buttonPayment:hover {
	background-color: var(--next-btn-hover);
	color: var(--white);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
}
form .category{
    width: 100%;
}
.content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
}
.user-details::-webkit-scrollbar{
    width: 5px;
}
}
@media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
}
}

