body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
:root{
    --colormain: rgba(40, 170, 220, 1);
    --white: #fff;
}
.boxBooking{
    margin: 0 auto;
    max-width: 700px;
}

.textCenter{
    text-align: center;
    color: var(--colormain);
}
.bookingHeader{
    background: #102e9e;
    color: var(--white);
    padding: 12px 16px;
}
.bookingContent{
    font-size: 14px;
    padding: 12px 16px;
    background: #1691e2;
    color: var(--white);
}
.bookingService{
    padding-bottom: 0;
    margin-bottom: 12px;
}