@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
:root{
	--primary: #1691e2;
    --next-btn-hover: #05219e;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    /* font-family: 'Times New Roman', Times, serif; */

}
h2{
    color: var(--primary);
}
.paymentBanner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 50px;
}
.paymentContainer{
    display: grid;
    grid-template-columns: 420px 420px;
}
.paymentInformation{
    padding: 30px;
}
.paymentInformation > h3{
    text-align: center;
}
.paymentRowBold{
    font-weight: bold;
}
.paymentQR{
    padding: 30px;
    width: 90%;
    border: red;
    text-align: center;
}
.imgQR{
    width: 280px;
}
.paymentRow{
    width: 90%;
    margin: 10px 0px;
}
.imgLogo{
    width: 65px;
}
form input{
    width: 112%;
    color: #fff;
    background: var(--primary);
    padding: 8px 0;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    /* cursor: pointer; */
}
form input:hover{
    opacity: 0.9;
    background: var(--next-btn-hover);
}
.time {
    width: 112%;
    padding: 10px;
    text-align: center;
    color: var(--primary);
}
@media(max-width: 992px){
    .paymentContainer{
        grid-template-columns: 100%;
        width: 100vw;
    }
}
   @media (max-width: 500px) {
    .modal {
      padding: 10px;
      width: 80%;
    }   
  
    .btns > button {
      font-size: smaller;
    }
   }

