@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
:root{
	--primary: #1691e2;
	--secondary: #E5F7FF;
	--thirty: #b9e9fc;
	--white: #fff;
	--next-btn-hover: #05219e;
	--back-btn-hover: #bcc2c2;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;

}
h2{
    color: var(--primary);
}
.paymentBanner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 50px;
}
.paymentContainer{
    display: grid;
    grid-template-columns: 420px 420px;
}
.paymentInformation{
    padding: 30px;
}
.paymentInformation > h3{
    text-align: center;
}
.paymentRowBold{
    font-weight: bold;
}
.paymentQR{
    padding: 30px;
    border: red;
    text-align: center;
}
.imgQR{
    width: 280px;
}
.paymentRow{
    width: 90%;
    margin: 10px 0px;
}
.imgLogo{
    width: 65px;
}


/* -----------------------Model Box------------------------------------------------ */
input {
  font-size: 16px;
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  width: 350px;
  cursor: pointer;
}
input:hover {
  background: var(--next-btn-hover);
}
.clearFix{
  display: flex;
  justify-content: space-evenly;
}
.cancelbtn, .deletebtn {
  width: 180px;
}
.cancelbtn:hover{
    background-color: var(--back-btn-hover);
}
.deletebtn:hover{
    background-color: red;
}
/* Add padding and center-align text to the container */
.modalContainer {
  padding: 16px;
  text-align: center;
  background-color: var(--white);
  width: 60%;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
}
.modalContainer p {
  margin: 20px 0;
}
.modalContainer p span {
  color: var(--primary);
  font-weight: bold;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d59;
  padding-top: 50px;
}
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: var(--white);
}
.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
/* ---------------------------------------------------------------------------- */
.time {
    width: 112%;
    padding: 10px;
    text-align: center;
    color: var(--primary);
}
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}
@media(max-width: 992px){
    .paymentContainer{
        grid-template-columns: 100%;
        width: 100vw;
    }
}
   @media (max-width: 500px) {
    .modal {
      padding: 10px;
      width: 80%;
    }   
  
    .btns > button {
      font-size: smaller;
    }
   }

